{
  "openapi": "3.1.0",
  "info": {
    "title": "x.md API",
    "version": "1.1.0",
    "summary": "Read public X posts, threads, profiles, connections and search results as Markdown or JSON.",
    "description": "x.md is a read-only HTTP API over public X (Twitter) content. Every operation is a `GET`, none of them needs credentials, and each returns compact Markdown by default, expanded Markdown with `full=true`, or structured JSON with `format=json` or `Accept: application/json`.\n\nx.md never posts, replies, follows, likes or writes anything to X, and it cannot read protected or deleted content.\n\nUse it when an agent needs the text of a post, a thread, a profile, a follower list or a search result in a form it can parse, without running a browser or holding X credentials.\n\nErrors are RFC 9457 problem documents (`application/problem+json`, or `application/json` when the request asks for it) carrying a stable machine `code`, a human `detail`, a `resolution` telling the caller what to do next, and a `documentation_url`.\n\nPagination is cursor-first: list responses return an opaque `nextCursor`; send it back as `cursor` with the same query and options. An ordinal `page` (1-10) exists as a fallback and is slower. `limit` defaults to 20 and is capped at 100.\n\nQuotas are advertised on every response with the IETF `RateLimit` and `RateLimit-Policy` structured fields, plus the `RateLimit-Limit` / `RateLimit-Remaining` / `RateLimit-Reset` compatibility triple; a 429 also carries `Retry-After`. Cached reads do not consume the live-lookup quota.\n\nVersioning and deprecation.\n\nThe stable machine surface is `/api/v1/*`, and `v1` is the current major version. Additive changes — new optional query parameters, new response fields — ship inside `v1` without a version bump, so ignore response fields you do not recognise. Breaking changes ship under a new path prefix (`/api/v2/*`), and `/api/v1/*` keeps working for at least 12 months after its successor is published.\n\nThe permalink routes (`/{handle}`, `/{handle}/status/{id}`, `/{handle}/followers`, `/{handle}/following`, `/search`, `/oembed`) are the unversioned product surface. They mirror x.com URLs, they are stable, and they are not deprecated.\n\nScheduled for deprecation on 2026-09-15: `GET /api/convert` (successor `GET /api/v1/posts`) and `GET /api/browse`, whose successor depends on its `resource` (`resource=profile` → `/api/v1/profiles/{handle}`, `resource=followers` → `/api/v1/profiles/{handle}/followers`, `resource=following` → `/api/v1/profiles/{handle}/following`, `resource=search` → `/api/v1/search`). Both aliases keep working unchanged until the sunset date, and they announce the schedule now, ahead of the date the `Deprecation` field names: every response from them carries `Deprecation: @1789430400` (RFC 9745, an `@`-prefixed Unix timestamp for 2026-09-15T00:00:00Z), `Sunset: Wed, 15 Sep 2027 00:00:00 GMT` (RFC 8594, an HTTP-date, never earlier than the deprecation date), and a `Link` header carrying `rel=\"deprecation\"` and `rel=\"sunset\"`. `rel=\"successor-version\"` joins them whenever the request names a route that replaces it, which for `/api/browse` means a `resource` that resolves; a browse call that names none is answered without it. Read `Deprecation` and `Sunset` on every response, follow `rel=\"successor-version\"` when it is present, and stop calling the alias before the sunset date.\n\nWritten policy: https://x.pcstyle.dev/docs/versioning. Machine description: https://x.pcstyle.dev/openapi.json.",
    "termsOfService": "https://x.pcstyle.dev/terms",
    "license": {
      "name": "MIT",
      "identifier": "MIT"
    },
    "contact": {
      "name": "x.md maintainer",
      "url": "https://x.pcstyle.dev/contact"
    }
  },
  "externalDocs": {
    "description": "x.md documentation: endpoints, pagination, response shapes, error codes and quotas",
    "url": "https://x.pcstyle.dev/docs"
  },
  "servers": [
    {
      "url": "https://x.pcstyle.dev",
      "description": "x.md production"
    }
  ],
  "security": [],
  "tags": [
    {
      "name": "Posts",
      "description": "Read a single post, its thread, and the conversation around it."
    },
    {
      "name": "Profiles",
      "description": "Read a public account, its recent original posts, its followers and who it follows."
    },
    {
      "name": "Search",
      "description": "Search public posts and accounts across the latest, top, photos, videos and users feeds."
    },
    {
      "name": "Embeds",
      "description": "oEmbed metadata for x.md permalinks."
    },
    {
      "name": "Discovery",
      "description": "Machine-readable entry points into the API."
    }
  ],
  "x-api-lifecycle": {
    "current_major_version": "v1",
    "supported_versions": [
      "v1"
    ],
    "minimum_support_window_months": 12,
    "versioning_scheme": "url-path",
    "deprecation_signals": [
      "Deprecation",
      "Sunset",
      "Link; rel=\"successor-version\""
    ],
    "deprecation_policy_url": "https://x.pcstyle.dev/docs/versioning",
    "policy": "Versioning and deprecation.\n\nThe stable machine surface is `/api/v1/*`, and `v1` is the current major version. Additive changes — new optional query parameters, new response fields — ship inside `v1` without a version bump, so ignore response fields you do not recognise. Breaking changes ship under a new path prefix (`/api/v2/*`), and `/api/v1/*` keeps working for at least 12 months after its successor is published.\n\nThe permalink routes (`/{handle}`, `/{handle}/status/{id}`, `/{handle}/followers`, `/{handle}/following`, `/search`, `/oembed`) are the unversioned product surface. They mirror x.com URLs, they are stable, and they are not deprecated.\n\nScheduled for deprecation on 2026-09-15: `GET /api/convert` (successor `GET /api/v1/posts`) and `GET /api/browse`, whose successor depends on its `resource` (`resource=profile` → `/api/v1/profiles/{handle}`, `resource=followers` → `/api/v1/profiles/{handle}/followers`, `resource=following` → `/api/v1/profiles/{handle}/following`, `resource=search` → `/api/v1/search`). Both aliases keep working unchanged until the sunset date, and they announce the schedule now, ahead of the date the `Deprecation` field names: every response from them carries `Deprecation: @1789430400` (RFC 9745, an `@`-prefixed Unix timestamp for 2026-09-15T00:00:00Z), `Sunset: Wed, 15 Sep 2027 00:00:00 GMT` (RFC 8594, an HTTP-date, never earlier than the deprecation date), and a `Link` header carrying `rel=\"deprecation\"` and `rel=\"sunset\"`. `rel=\"successor-version\"` joins them whenever the request names a route that replaces it, which for `/api/browse` means a `resource` that resolves; a browse call that names none is answered without it. Read `Deprecation` and `Sunset` on every response, follow `rel=\"successor-version\"` when it is present, and stop calling the alias before the sunset date.\n\nWritten policy: https://x.pcstyle.dev/docs/versioning. Machine description: https://x.pcstyle.dev/openapi.json.",
    "deprecated_operations": [
      {
        "operationId": "getPostLegacy",
        "path": "/api/convert",
        "deprecated": "2026-09-15T00:00:00Z",
        "sunset": "2027-09-15T00:00:00Z",
        "successor": "/api/v1/posts"
      },
      {
        "operationId": "browseLegacy",
        "path": "/api/browse",
        "deprecated": "2026-09-15T00:00:00Z",
        "sunset": "2027-09-15T00:00:00Z",
        "successor_parameter": "resource",
        "successors": {
          "profile": "/api/v1/profiles/{handle}",
          "followers": "/api/v1/profiles/{handle}/followers",
          "following": "/api/v1/profiles/{handle}/following",
          "search": "/api/v1/search"
        }
      }
    ]
  },
  "x-rate-limit-policy": [
    {
      "name": "api-ip",
      "quota": 600,
      "window_seconds": 60,
      "partition": "client IP address",
      "applies_to": "every public API route"
    },
    {
      "name": "search-ip",
      "quota": 5,
      "window_seconds": 60,
      "partition": "client IP address",
      "applies_to": "live search lookups by anonymous callers",
      "notes": "Charged only when a request misses the cache and reaches an upstream provider."
    },
    {
      "name": "search-key",
      "quota": 30,
      "window_seconds": 60,
      "partition": "API key",
      "applies_to": "live search lookups by key holders"
    },
    {
      "name": "import-ip",
      "quota": 10,
      "window_seconds": 900,
      "partition": "client IP address",
      "applies_to": "bulk profile imports by anonymous callers",
      "notes": "One unit per import, however many posts it returns."
    },
    {
      "name": "import-key",
      "quota": 60,
      "window_seconds": 900,
      "partition": "API key",
      "applies_to": "bulk profile imports by key holders"
    },
    {
      "name": "account-ip",
      "quota": 10,
      "window_seconds": 900,
      "partition": "client IP address",
      "applies_to": "account-backed search feeds (photos, videos, users)",
      "notes": "A shared public pool; key holders draw from their own allowance instead."
    },
    {
      "name": "account-key",
      "quota": null,
      "window_seconds": 900,
      "partition": "API key",
      "applies_to": "account-backed search feeds for key holders",
      "notes": "The quota is set per key when it is issued; read it from the `q` parameter of `RateLimit-Policy`."
    }
  ],
  "x-error-catalog": {
    "media_type": "application/problem+json",
    "specification": "https://www.rfc-editor.org/rfc/rfc9457",
    "documentation_url": "https://x.pcstyle.dev/docs/reliability#errors",
    "schema": "#/components/schemas/Problem",
    "note": "A 502 or 503 may also carry a provider-specific code such as `fxtwitter_error`, `contextdev_empty`, `firecrawl_network` or `all_providers_failed`. Those share the resolution of `upstream_error`.",
    "codes": {
      "missing_url": {
        "status": 400,
        "title": "Missing url parameter",
        "resolution": "Add `?url=<public X status URL>`, or call `/{handle}/status/{id}` directly.",
        "type": "https://x.pcstyle.dev/docs/reliability#missing-url"
      },
      "invalid_url": {
        "status": 400,
        "title": "Invalid X status URL",
        "resolution": "Pass a public x.com or twitter.com status URL in `url`, for example `?url=https://x.com/jack/status/20`.",
        "type": "https://x.pcstyle.dev/docs/reliability#invalid-url"
      },
      "unsupported_host": {
        "status": 400,
        "title": "Unsupported host",
        "resolution": "Only x.com and twitter.com status URLs are supported. Rewrite the host and retry.",
        "type": "https://x.pcstyle.dev/docs/reliability#unsupported-host"
      },
      "invalid_path": {
        "status": 400,
        "title": "Not a status permalink",
        "resolution": "Use a permalink shaped like https://x.com/{handle}/status/{id}.",
        "type": "https://x.pcstyle.dev/docs/reliability#invalid-path"
      },
      "invalid_params": {
        "status": 400,
        "title": "Invalid handle or status id",
        "resolution": "Provide `handle` (1-15 word characters) and a numeric `id`.",
        "type": "https://x.pcstyle.dev/docs/reliability#invalid-params"
      },
      "invalid_option": {
        "status": 400,
        "title": "Invalid query option",
        "resolution": "Fix the parameter named in `detail`. Dates are ISO dates, ISO datetimes, or unix timestamps; `since` must be earlier than `until`; counts are positive integers within the documented maximum.",
        "type": "https://x.pcstyle.dev/docs/reliability#invalid-option"
      },
      "invalid_handle": {
        "status": 400,
        "title": "Invalid X handle",
        "resolution": "Handles are 1-15 characters of letters, digits, or underscores, with no leading @.",
        "type": "https://x.pcstyle.dev/docs/reliability#invalid-handle"
      },
      "invalid_resource": {
        "status": 400,
        "title": "Unsupported browse resource",
        "resolution": "Use `resource=profile`, `search`, `followers`, or `following`.",
        "type": "https://x.pcstyle.dev/docs/reliability#invalid-resource"
      },
      "invalid_format": {
        "status": 400,
        "title": "Unsupported format",
        "resolution": "Use `format=markdown`, `format=obsidian`, or `format=json`. Browse accepts markdown or json.",
        "type": "https://x.pcstyle.dev/docs/reliability#invalid-format"
      },
      "invalid_thread": {
        "status": 400,
        "title": "Invalid thread parameter",
        "resolution": "Use `thread=off`, `full`, `conversation`, or a number from 2 to 100.",
        "type": "https://x.pcstyle.dev/docs/reliability#invalid-thread"
      },
      "invalid_userinfo": {
        "status": 400,
        "title": "Invalid userinfo parameter",
        "resolution": "Use `userinfo=off`, `author`, or `all`.",
        "type": "https://x.pcstyle.dev/docs/reliability#invalid-userinfo"
      },
      "invalid_context": {
        "status": 400,
        "title": "Invalid context parameter",
        "resolution": "Use `context=full` or `context=thread`.",
        "type": "https://x.pcstyle.dev/docs/reliability#invalid-context"
      },
      "invalid_replies": {
        "status": 400,
        "title": "Invalid replies parameter",
        "resolution": "Use `replies=top`, `recent`, or `off`.",
        "type": "https://x.pcstyle.dev/docs/reliability#invalid-replies"
      },
      "invalid_mode": {
        "status": 400,
        "title": "Invalid mode parameter",
        "resolution": "See the parameter tables at https://x.pcstyle.dev/docs/responses.",
        "type": "https://x.pcstyle.dev/docs/reliability#invalid-mode"
      },
      "missing_query": {
        "status": 400,
        "title": "Missing search query",
        "resolution": "Add `?q=<search terms>`, for example `/search?q=vercel`.",
        "type": "https://x.pcstyle.dev/docs/reliability#missing-query"
      },
      "invalid_body": {
        "status": 400,
        "title": "Invalid JSON body",
        "resolution": "Send a well-formed JSON object, or omit the body entirely.",
        "type": "https://x.pcstyle.dev/docs/reliability#invalid-body"
      },
      "invalid_key": {
        "status": 401,
        "title": "Invalid or disabled API key",
        "resolution": "Remove the Authorization header to call anonymously, or present a valid `Authorization: Bearer <key>`.",
        "type": "https://x.pcstyle.dev/docs/reliability#invalid-key"
      },
      "unauthorized": {
        "status": 401,
        "title": "Unauthorized",
        "resolution": "This route is private. The public read-only API needs no credentials; see https://x.pcstyle.dev/openapi.json.",
        "type": "https://x.pcstyle.dev/docs/reliability#unauthorized"
      },
      "not_found": {
        "status": 404,
        "title": "Not found",
        "resolution": "Confirm the post or profile is public and still exists on x.com, then retry. Deleted and protected content is never available.",
        "type": "https://x.pcstyle.dev/docs/reliability#not-found"
      },
      "route_not_found": {
        "status": 404,
        "title": "API route not found",
        "resolution": "Discover the public API through https://x.pcstyle.dev/api, https://x.pcstyle.dev/openapi.json, or https://x.pcstyle.dev/.well-known/api-catalog.",
        "type": "https://x.pcstyle.dev/docs/reliability#route-not-found"
      },
      "method_not_allowed": {
        "status": 405,
        "title": "Method not allowed",
        "resolution": "x.md is read-only. Use GET, HEAD, or OPTIONS; the `Allow` response header lists what this route accepts.",
        "type": "https://x.pcstyle.dev/docs/reliability#method-not-allowed"
      },
      "not_acceptable": {
        "status": 406,
        "title": "No acceptable representation",
        "resolution": "Request `text/markdown`, `application/json`, or `text/html`, or omit the Accept header.",
        "type": "https://x.pcstyle.dev/docs/reliability#not-acceptable"
      },
      "rate_limited": {
        "status": 429,
        "title": "Rate limit exceeded",
        "resolution": "Wait the number of seconds in the `Retry-After` header, then retry. Cached responses do not count against the allowance.",
        "type": "https://x.pcstyle.dev/docs/reliability#rate-limited"
      },
      "internal_error": {
        "status": 500,
        "title": "Unexpected error",
        "resolution": "Retry with exponential backoff. If it persists, open an issue at https://github.com/pc-style/x-md/issues.",
        "type": "https://x.pcstyle.dev/docs/reliability#internal-error"
      },
      "upstream_error": {
        "status": 502,
        "title": "Upstream provider error",
        "resolution": "Retry with backoff. x.md reads a third-party provider that can fail independently.",
        "type": "https://x.pcstyle.dev/docs/reliability#upstream-error"
      },
      "upstream_rate_limited": {
        "status": 503,
        "title": "Upstream provider is rate limiting x.md",
        "resolution": "Wait the number of seconds in `Retry-After`, then retry. Bulk imports back off per page automatically; lower `concurrency` if this repeats.",
        "type": "https://x.pcstyle.dev/docs/reliability#upstream-rate-limited"
      },
      "search_unavailable": {
        "status": 503,
        "title": "Search temporarily unavailable",
        "resolution": "Wait the number of seconds in `Retry-After`, then retry. Photos, Videos, and Users need configured sessions.",
        "type": "https://x.pcstyle.dev/docs/reliability#search-unavailable"
      },
      "admin_unconfigured": {
        "status": 503,
        "title": "Admin is not configured",
        "resolution": "Set X_MD_ADMIN_TOKEN on the deployment. This route is not part of the public API.",
        "type": "https://x.pcstyle.dev/docs/reliability#admin-unconfigured"
      }
    }
  },
  "x-pagination": {
    "style": "cursor",
    "preferred": "cursor",
    "request_parameters": {
      "cursor": "cursor",
      "page": "page",
      "limit": "limit"
    },
    "response_fields": {
      "next_cursor": "nextCursor",
      "page": "page",
      "limit": "limit"
    },
    "default_limit": 20,
    "max_limit": 100,
    "max_page": 10,
    "cursor_opacity": "opaque",
    "exact_pages": "Every page holds exactly `limit` items until the list ends; x.md assembles it from as many upstream pages as needed. A cursor may carry an offset (`…@15`); treat it as opaque.",
    "cursor_ceiling": "none",
    "termination": "Stop when `nextCursor` is absent. A short or empty page is not the end of the list.",
    "notes": "Cursors are provider-tagged. Return one only to the same route, query and feed that issued it. Degraded search results carry no cursor. Own-account search feeds answer at most 20 per request.",
    "bulk": "For an account's whole history use `/{handle}/posts` (`since`, `until`, `max_posts`, `format=ndjson`) instead of paging."
  },
  "paths": {
    "/api/v1/posts": {
      "get": {
        "operationId": "getPost",
        "summary": "Read a post, thread or conversation",
        "description": "Read one public X post as Markdown or JSON. Identify it either with `url` (a full status permalink) or with the `handle` and `id` pair.\n\nA post is returned with whatever thread and conversation context the upstream provider exposes; use `thread` and `replies` to widen or narrow it. Send `Accept: application/json` (or `format=json`) for the structured body, `Accept: text/markdown` for Markdown. Markdown is the default when neither is given. Nothing is ever written back to X.",
        "tags": [
          "Posts"
        ],
        "parameters": [
          {
            "name": "url",
            "in": "query",
            "description": "Public x.com or twitter.com status permalink. Required unless `handle` and `id` are supplied instead.",
            "required": false,
            "schema": {
              "type": "string",
              "format": "uri"
            },
            "example": "https://x.com/jack/status/20"
          },
          {
            "name": "handle",
            "in": "query",
            "description": "X account handle without the leading `@`: 1-15 letters, digits or underscores. Reserved site paths (`/docs`, `/about`, `/search`, `/api`, ...) are never handles.",
            "required": false,
            "schema": {
              "type": "string",
              "pattern": "^[A-Za-z0-9_]{1,15}$"
            },
            "example": "jack"
          },
          {
            "name": "id",
            "in": "query",
            "description": "Numeric status id of the post. On the query surface it must be paired with `handle`, and is ignored when `url` is present.",
            "required": false,
            "schema": {
              "type": "string",
              "pattern": "^[0-9]+$"
            },
            "example": "20"
          },
          {
            "name": "format",
            "in": "query",
            "description": "Output representation. Overrides `Accept` negotiation. `obsidian` emits Obsidian-flavoured Markdown with wiki links.",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "markdown",
                "obsidian",
                "json"
              ],
              "default": "markdown"
            }
          },
          {
            "name": "thread",
            "in": "query",
            "description": "How much of the surrounding thread to include: `off` for the single post, `full` or `conversation` for everything available, or a post count from 2 to 100.",
            "required": false,
            "schema": {
              "type": "string",
              "pattern": "^(off|full|conversation|[2-9]|[1-9][0-9]|100)$",
              "default": "full"
            }
          },
          {
            "name": "context",
            "in": "query",
            "description": "`full` walks parents and replies around the post; `thread` keeps only the author's own chain.",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "full",
                "thread"
              ],
              "default": "full"
            }
          },
          {
            "name": "replies",
            "in": "query",
            "description": "Which replies to include: the ranked `top` replies, the most `recent` ones, or `off`.",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "top",
                "recent",
                "off"
              ],
              "default": "top"
            }
          },
          {
            "name": "userinfo",
            "in": "query",
            "description": "Author metadata to render into the Markdown: `off`, the thread `author` only, or `all` participants.",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "off",
                "author",
                "all"
              ],
              "default": "off"
            }
          },
          {
            "name": "full",
            "in": "query",
            "description": "Return the expanded representation: metrics, timestamps and profile counts instead of the compact default.",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "true",
                "1",
                "yes",
                "false",
                "0"
              ],
              "default": "false"
            }
          },
          {
            "name": "nocache",
            "in": "query",
            "description": "Bypass the application cache and fetch from the upstream provider. Charged against the live-lookup quota.",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "true",
                "1",
                "yes",
                "false",
                "0"
              ],
              "default": "false"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The post, its thread and the surrounding conversation. JSON carries the rendered Markdown alongside the structured posts.",
            "headers": {
              "RateLimit": {
                "$ref": "#/components/headers/RateLimit"
              },
              "RateLimit-Policy": {
                "$ref": "#/components/headers/RateLimitPolicy"
              },
              "RateLimit-Limit": {
                "$ref": "#/components/headers/RateLimitLimit"
              },
              "RateLimit-Remaining": {
                "$ref": "#/components/headers/RateLimitRemaining"
              },
              "RateLimit-Reset": {
                "$ref": "#/components/headers/RateLimitReset"
              },
              "Vary": {
                "$ref": "#/components/headers/Vary"
              },
              "Cache-Control": {
                "$ref": "#/components/headers/CacheControl"
              },
              "X-Source": {
                "$ref": "#/components/headers/XSource"
              },
              "X-Cache": {
                "$ref": "#/components/headers/XCache"
              },
              "X-Converter": {
                "$ref": "#/components/headers/XConverter"
              },
              "X-Post-Count": {
                "$ref": "#/components/headers/XPostCount"
              },
              "X-Warnings": {
                "$ref": "#/components/headers/XWarnings"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ConvertResponse"
                },
                "examples": {
                  "post": {
                    "$ref": "#/components/examples/postResponse"
                  }
                }
              },
              "text/markdown": {
                "schema": {
                  "type": "string",
                  "description": "Rendered Markdown. The default representation."
                }
              },
              "text/html": {
                "schema": {
                  "type": "string",
                  "description": "The same Markdown wrapped in a minimal HTML page, served only to `Accept: text/html`."
                }
              }
            }
          },
          "400": {
            "description": "Missing url parameter. Add `?url=<public X status URL>`, or call `/{handle}/status/{id}` directly.",
            "headers": {
              "RateLimit": {
                "$ref": "#/components/headers/RateLimit"
              },
              "RateLimit-Policy": {
                "$ref": "#/components/headers/RateLimitPolicy"
              },
              "RateLimit-Limit": {
                "$ref": "#/components/headers/RateLimitLimit"
              },
              "RateLimit-Remaining": {
                "$ref": "#/components/headers/RateLimitRemaining"
              },
              "RateLimit-Reset": {
                "$ref": "#/components/headers/RateLimitReset"
              },
              "Cache-Control": {
                "$ref": "#/components/headers/CacheControl"
              },
              "Link": {
                "$ref": "#/components/headers/ProblemLink"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Problem"
                },
                "examples": {
                  "missing_url": {
                    "$ref": "#/components/examples/missing_url"
                  }
                }
              },
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/Problem"
                },
                "examples": {
                  "missing_url": {
                    "$ref": "#/components/examples/missing_url"
                  }
                }
              }
            }
          },
          "404": {
            "description": "Not found. Confirm the post or profile is public and still exists on x.com, then retry. Deleted and protected content is never available.",
            "headers": {
              "RateLimit": {
                "$ref": "#/components/headers/RateLimit"
              },
              "RateLimit-Policy": {
                "$ref": "#/components/headers/RateLimitPolicy"
              },
              "RateLimit-Limit": {
                "$ref": "#/components/headers/RateLimitLimit"
              },
              "RateLimit-Remaining": {
                "$ref": "#/components/headers/RateLimitRemaining"
              },
              "RateLimit-Reset": {
                "$ref": "#/components/headers/RateLimitReset"
              },
              "Cache-Control": {
                "$ref": "#/components/headers/CacheControl"
              },
              "Link": {
                "$ref": "#/components/headers/ProblemLink"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Problem"
                },
                "examples": {
                  "not_found": {
                    "$ref": "#/components/examples/not_found"
                  }
                }
              },
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/Problem"
                },
                "examples": {
                  "not_found": {
                    "$ref": "#/components/examples/not_found"
                  }
                }
              }
            }
          },
          "405": {
            "description": "Method not allowed. x.md is read-only. Use GET, HEAD, or OPTIONS; the `Allow` response header lists what this route accepts.",
            "headers": {
              "RateLimit": {
                "$ref": "#/components/headers/RateLimit"
              },
              "RateLimit-Policy": {
                "$ref": "#/components/headers/RateLimitPolicy"
              },
              "RateLimit-Limit": {
                "$ref": "#/components/headers/RateLimitLimit"
              },
              "RateLimit-Remaining": {
                "$ref": "#/components/headers/RateLimitRemaining"
              },
              "RateLimit-Reset": {
                "$ref": "#/components/headers/RateLimitReset"
              },
              "Cache-Control": {
                "$ref": "#/components/headers/CacheControl"
              },
              "Link": {
                "$ref": "#/components/headers/ProblemLink"
              },
              "Allow": {
                "$ref": "#/components/headers/Allow"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Problem"
                },
                "examples": {
                  "method_not_allowed": {
                    "$ref": "#/components/examples/method_not_allowed"
                  }
                }
              },
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/Problem"
                },
                "examples": {
                  "method_not_allowed": {
                    "$ref": "#/components/examples/method_not_allowed"
                  }
                }
              }
            }
          },
          "429": {
            "description": "Rate limit exceeded. Wait the number of seconds in the `Retry-After` header, then retry. Cached responses do not count against the allowance.",
            "headers": {
              "RateLimit": {
                "$ref": "#/components/headers/RateLimit"
              },
              "RateLimit-Policy": {
                "$ref": "#/components/headers/RateLimitPolicy"
              },
              "RateLimit-Limit": {
                "$ref": "#/components/headers/RateLimitLimit"
              },
              "RateLimit-Remaining": {
                "$ref": "#/components/headers/RateLimitRemaining"
              },
              "RateLimit-Reset": {
                "$ref": "#/components/headers/RateLimitReset"
              },
              "Cache-Control": {
                "$ref": "#/components/headers/CacheControl"
              },
              "Link": {
                "$ref": "#/components/headers/ProblemLink"
              },
              "Retry-After": {
                "$ref": "#/components/headers/RetryAfter"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Problem"
                },
                "examples": {
                  "rate_limited": {
                    "$ref": "#/components/examples/rate_limited"
                  }
                }
              },
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/Problem"
                },
                "examples": {
                  "rate_limited": {
                    "$ref": "#/components/examples/rate_limited"
                  }
                }
              }
            }
          },
          "500": {
            "description": "Unexpected error. Retry with exponential backoff. If it persists, open an issue at https://github.com/pc-style/x-md/issues.",
            "headers": {
              "RateLimit": {
                "$ref": "#/components/headers/RateLimit"
              },
              "RateLimit-Policy": {
                "$ref": "#/components/headers/RateLimitPolicy"
              },
              "RateLimit-Limit": {
                "$ref": "#/components/headers/RateLimitLimit"
              },
              "RateLimit-Remaining": {
                "$ref": "#/components/headers/RateLimitRemaining"
              },
              "RateLimit-Reset": {
                "$ref": "#/components/headers/RateLimitReset"
              },
              "Cache-Control": {
                "$ref": "#/components/headers/CacheControl"
              },
              "Link": {
                "$ref": "#/components/headers/ProblemLink"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Problem"
                },
                "examples": {
                  "internal_error": {
                    "$ref": "#/components/examples/internal_error"
                  }
                }
              },
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/Problem"
                },
                "examples": {
                  "internal_error": {
                    "$ref": "#/components/examples/internal_error"
                  }
                }
              }
            }
          },
          "502": {
            "description": "Upstream provider error. Retry with backoff. x.md reads a third-party provider that can fail independently.",
            "headers": {
              "RateLimit": {
                "$ref": "#/components/headers/RateLimit"
              },
              "RateLimit-Policy": {
                "$ref": "#/components/headers/RateLimitPolicy"
              },
              "RateLimit-Limit": {
                "$ref": "#/components/headers/RateLimitLimit"
              },
              "RateLimit-Remaining": {
                "$ref": "#/components/headers/RateLimitRemaining"
              },
              "RateLimit-Reset": {
                "$ref": "#/components/headers/RateLimitReset"
              },
              "Cache-Control": {
                "$ref": "#/components/headers/CacheControl"
              },
              "Link": {
                "$ref": "#/components/headers/ProblemLink"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Problem"
                },
                "examples": {
                  "upstream_error": {
                    "$ref": "#/components/examples/upstream_error"
                  }
                }
              },
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/Problem"
                },
                "examples": {
                  "upstream_error": {
                    "$ref": "#/components/examples/upstream_error"
                  }
                }
              }
            }
          }
        },
        "externalDocs": {
          "description": "Endpoint documentation",
          "url": "https://x.pcstyle.dev/docs/posts"
        }
      }
    },
    "/api/v1/profiles/{handle}": {
      "get": {
        "operationId": "getProfile",
        "summary": "Read a profile and its latest posts",
        "description": "Read a public X account: its bio, counts, and its most recent posts. Original posts only unless `with_replies` or `with_reposts` is set.\n\nResults are paged: prefer the opaque `nextCursor` from the previous response over the ordinal `page`. Send `Accept: application/json` (or `format=json`) for the structured body, `Accept: text/markdown` for Markdown. Markdown is the default when neither is given.",
        "tags": [
          "Profiles"
        ],
        "parameters": [
          {
            "name": "handle",
            "in": "path",
            "description": "X account handle without the leading `@`: 1-15 letters, digits or underscores. Reserved site paths (`/docs`, `/about`, `/search`, `/api`, ...) are never handles.",
            "required": true,
            "schema": {
              "type": "string",
              "pattern": "^[A-Za-z0-9_]{1,15}$"
            },
            "example": "jack"
          },
          {
            "name": "cursor",
            "in": "query",
            "description": "Opaque `nextCursor` from a previous response, and the preferred way to page: there is no limit on how far a cursor chain goes. Send it back with the same query, feed and options. Never decode a cursor, edit it, or reuse it across feeds. A cursor takes precedence over `page`.",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "page",
            "in": "query",
            "description": "Ordinal page, used only when no `cursor` is supplied. Values above 10 are clamped. Numbered paging walks every preceding upstream page, so it is slower than a cursor.",
            "required": false,
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 10,
              "default": 1
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Maximum posts in the page. Values above 100 are clamped to 100. A page is assembled from as many upstream pages as it takes and cut exactly at `limit`; its `nextCursor` continues right after the last post.",
            "required": false,
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 100,
              "default": 20
            }
          },
          {
            "name": "with_replies",
            "in": "query",
            "description": "Include the account's replies. Off by default: the page then holds original posts only.",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "true",
                "1",
                "false",
                "0"
              ],
              "default": "false"
            }
          },
          {
            "name": "with_reposts",
            "in": "query",
            "description": "Include the account's reposts. Off by default. A repost is returned as the original post with `reposted_by` set, so it carries the original's `id` and `created_at`.",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "true",
                "1",
                "false",
                "0"
              ],
              "default": "false"
            }
          },
          {
            "name": "until",
            "in": "query",
            "description": "Start the page just below this instant instead of at the newest post. Lets a client jump straight to a date without walking cursors. Ignored when `cursor` is supplied.",
            "required": false,
            "schema": {
              "type": "string",
              "description": "ISO date (`2026-01-01`), ISO datetime, or unix timestamp in seconds or milliseconds."
            },
            "example": "2026-03-01"
          },
          {
            "name": "format",
            "in": "query",
            "description": "Output representation. Overrides `Accept` negotiation. Browse routes do not support `obsidian`.",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "markdown",
                "json"
              ],
              "default": "markdown"
            }
          },
          {
            "name": "full",
            "in": "query",
            "description": "Return the expanded representation: metrics, timestamps and profile counts instead of the compact default.",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "true",
                "1",
                "false",
                "0"
              ],
              "default": "false"
            }
          },
          {
            "name": "nocache",
            "in": "query",
            "description": "Bypass the application cache and fetch from the upstream provider. Charged against the live-lookup quota.",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "true",
                "1",
                "false",
                "0"
              ],
              "default": "false"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The profile and its most recent original posts, or a page of connections.",
            "headers": {
              "RateLimit": {
                "$ref": "#/components/headers/RateLimit"
              },
              "RateLimit-Policy": {
                "$ref": "#/components/headers/RateLimitPolicy"
              },
              "RateLimit-Limit": {
                "$ref": "#/components/headers/RateLimitLimit"
              },
              "RateLimit-Remaining": {
                "$ref": "#/components/headers/RateLimitRemaining"
              },
              "RateLimit-Reset": {
                "$ref": "#/components/headers/RateLimitReset"
              },
              "Vary": {
                "$ref": "#/components/headers/Vary"
              },
              "Cache-Control": {
                "$ref": "#/components/headers/CacheControl"
              },
              "X-Source": {
                "$ref": "#/components/headers/XSource"
              },
              "X-Cache": {
                "$ref": "#/components/headers/XCache"
              },
              "X-Browse-Resource": {
                "$ref": "#/components/headers/XBrowseResource"
              },
              "X-Result-Count": {
                "$ref": "#/components/headers/XResultCount"
              },
              "X-Api-Key-Status": {
                "$ref": "#/components/headers/XApiKeyStatus"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BrowseResponse"
                },
                "examples": {
                  "profile": {
                    "$ref": "#/components/examples/profileResponse"
                  }
                }
              },
              "text/markdown": {
                "schema": {
                  "type": "string",
                  "description": "Rendered Markdown list. The default representation. Ends with a `Continue →` link whenever `nextCursor` is set."
                }
              }
            }
          },
          "400": {
            "description": "Invalid X handle. Handles are 1-15 characters of letters, digits, or underscores, with no leading @.",
            "headers": {
              "RateLimit": {
                "$ref": "#/components/headers/RateLimit"
              },
              "RateLimit-Policy": {
                "$ref": "#/components/headers/RateLimitPolicy"
              },
              "RateLimit-Limit": {
                "$ref": "#/components/headers/RateLimitLimit"
              },
              "RateLimit-Remaining": {
                "$ref": "#/components/headers/RateLimitRemaining"
              },
              "RateLimit-Reset": {
                "$ref": "#/components/headers/RateLimitReset"
              },
              "Cache-Control": {
                "$ref": "#/components/headers/CacheControl"
              },
              "Link": {
                "$ref": "#/components/headers/ProblemLink"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Problem"
                },
                "examples": {
                  "invalid_handle": {
                    "$ref": "#/components/examples/invalid_handle"
                  }
                }
              },
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/Problem"
                },
                "examples": {
                  "invalid_handle": {
                    "$ref": "#/components/examples/invalid_handle"
                  }
                }
              }
            }
          },
          "401": {
            "description": "Invalid or disabled API key. Remove the Authorization header to call anonymously, or present a valid `Authorization: Bearer <key>`.",
            "headers": {
              "RateLimit": {
                "$ref": "#/components/headers/RateLimit"
              },
              "RateLimit-Policy": {
                "$ref": "#/components/headers/RateLimitPolicy"
              },
              "RateLimit-Limit": {
                "$ref": "#/components/headers/RateLimitLimit"
              },
              "RateLimit-Remaining": {
                "$ref": "#/components/headers/RateLimitRemaining"
              },
              "RateLimit-Reset": {
                "$ref": "#/components/headers/RateLimitReset"
              },
              "Cache-Control": {
                "$ref": "#/components/headers/CacheControl"
              },
              "Link": {
                "$ref": "#/components/headers/ProblemLink"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Problem"
                },
                "examples": {
                  "invalid_key": {
                    "$ref": "#/components/examples/invalid_key"
                  }
                }
              },
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/Problem"
                },
                "examples": {
                  "invalid_key": {
                    "$ref": "#/components/examples/invalid_key"
                  }
                }
              }
            }
          },
          "404": {
            "description": "Not found. Confirm the post or profile is public and still exists on x.com, then retry. Deleted and protected content is never available.",
            "headers": {
              "RateLimit": {
                "$ref": "#/components/headers/RateLimit"
              },
              "RateLimit-Policy": {
                "$ref": "#/components/headers/RateLimitPolicy"
              },
              "RateLimit-Limit": {
                "$ref": "#/components/headers/RateLimitLimit"
              },
              "RateLimit-Remaining": {
                "$ref": "#/components/headers/RateLimitRemaining"
              },
              "RateLimit-Reset": {
                "$ref": "#/components/headers/RateLimitReset"
              },
              "Cache-Control": {
                "$ref": "#/components/headers/CacheControl"
              },
              "Link": {
                "$ref": "#/components/headers/ProblemLink"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Problem"
                },
                "examples": {
                  "not_found": {
                    "$ref": "#/components/examples/not_found"
                  }
                }
              },
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/Problem"
                },
                "examples": {
                  "not_found": {
                    "$ref": "#/components/examples/not_found"
                  }
                }
              },
              "text/markdown": {
                "schema": {
                  "type": "string",
                  "description": "The same recovery document as Markdown: what is missing, where to look next, and the valid URL shapes."
                }
              },
              "text/html": {
                "schema": {
                  "type": "string",
                  "description": "The Markdown recovery document wrapped in a minimal HTML page."
                }
              }
            }
          },
          "405": {
            "description": "Method not allowed. x.md is read-only. Use GET, HEAD, or OPTIONS; the `Allow` response header lists what this route accepts.",
            "headers": {
              "RateLimit": {
                "$ref": "#/components/headers/RateLimit"
              },
              "RateLimit-Policy": {
                "$ref": "#/components/headers/RateLimitPolicy"
              },
              "RateLimit-Limit": {
                "$ref": "#/components/headers/RateLimitLimit"
              },
              "RateLimit-Remaining": {
                "$ref": "#/components/headers/RateLimitRemaining"
              },
              "RateLimit-Reset": {
                "$ref": "#/components/headers/RateLimitReset"
              },
              "Cache-Control": {
                "$ref": "#/components/headers/CacheControl"
              },
              "Link": {
                "$ref": "#/components/headers/ProblemLink"
              },
              "Allow": {
                "$ref": "#/components/headers/Allow"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Problem"
                },
                "examples": {
                  "method_not_allowed": {
                    "$ref": "#/components/examples/method_not_allowed"
                  }
                }
              },
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/Problem"
                },
                "examples": {
                  "method_not_allowed": {
                    "$ref": "#/components/examples/method_not_allowed"
                  }
                }
              }
            }
          },
          "429": {
            "description": "Rate limit exceeded. Wait the number of seconds in the `Retry-After` header, then retry. Cached responses do not count against the allowance.",
            "headers": {
              "RateLimit": {
                "$ref": "#/components/headers/RateLimit"
              },
              "RateLimit-Policy": {
                "$ref": "#/components/headers/RateLimitPolicy"
              },
              "RateLimit-Limit": {
                "$ref": "#/components/headers/RateLimitLimit"
              },
              "RateLimit-Remaining": {
                "$ref": "#/components/headers/RateLimitRemaining"
              },
              "RateLimit-Reset": {
                "$ref": "#/components/headers/RateLimitReset"
              },
              "Cache-Control": {
                "$ref": "#/components/headers/CacheControl"
              },
              "Link": {
                "$ref": "#/components/headers/ProblemLink"
              },
              "Retry-After": {
                "$ref": "#/components/headers/RetryAfter"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Problem"
                },
                "examples": {
                  "rate_limited": {
                    "$ref": "#/components/examples/rate_limited"
                  }
                }
              },
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/Problem"
                },
                "examples": {
                  "rate_limited": {
                    "$ref": "#/components/examples/rate_limited"
                  }
                }
              }
            }
          },
          "500": {
            "description": "Unexpected error. Retry with exponential backoff. If it persists, open an issue at https://github.com/pc-style/x-md/issues.",
            "headers": {
              "RateLimit": {
                "$ref": "#/components/headers/RateLimit"
              },
              "RateLimit-Policy": {
                "$ref": "#/components/headers/RateLimitPolicy"
              },
              "RateLimit-Limit": {
                "$ref": "#/components/headers/RateLimitLimit"
              },
              "RateLimit-Remaining": {
                "$ref": "#/components/headers/RateLimitRemaining"
              },
              "RateLimit-Reset": {
                "$ref": "#/components/headers/RateLimitReset"
              },
              "Cache-Control": {
                "$ref": "#/components/headers/CacheControl"
              },
              "Link": {
                "$ref": "#/components/headers/ProblemLink"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Problem"
                },
                "examples": {
                  "internal_error": {
                    "$ref": "#/components/examples/internal_error"
                  }
                }
              },
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/Problem"
                },
                "examples": {
                  "internal_error": {
                    "$ref": "#/components/examples/internal_error"
                  }
                }
              }
            }
          },
          "502": {
            "description": "Upstream provider error. Retry with backoff. x.md reads a third-party provider that can fail independently.",
            "headers": {
              "RateLimit": {
                "$ref": "#/components/headers/RateLimit"
              },
              "RateLimit-Policy": {
                "$ref": "#/components/headers/RateLimitPolicy"
              },
              "RateLimit-Limit": {
                "$ref": "#/components/headers/RateLimitLimit"
              },
              "RateLimit-Remaining": {
                "$ref": "#/components/headers/RateLimitRemaining"
              },
              "RateLimit-Reset": {
                "$ref": "#/components/headers/RateLimitReset"
              },
              "Cache-Control": {
                "$ref": "#/components/headers/CacheControl"
              },
              "Link": {
                "$ref": "#/components/headers/ProblemLink"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Problem"
                },
                "examples": {
                  "upstream_error": {
                    "$ref": "#/components/examples/upstream_error"
                  }
                }
              },
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/Problem"
                },
                "examples": {
                  "upstream_error": {
                    "$ref": "#/components/examples/upstream_error"
                  }
                }
              }
            }
          }
        },
        "externalDocs": {
          "description": "Endpoint documentation",
          "url": "https://x.pcstyle.dev/docs/profiles"
        },
        "security": [
          {},
          {
            "bearerApiKey": []
          }
        ]
      }
    },
    "/api/v1/profiles/{handle}/posts": {
      "get": {
        "operationId": "importProfilePosts",
        "summary": "Import a profile's post history in bulk",
        "description": "Bulk history for onboarding and memory: the whole requested range in one request, as raw JSON that preserves every upstream field (`id`, `text`, `created_at`, `author`, `replying_to`, `quote`, `reposted_by`, `media`, `likes`, `replies`, `retweets`, `quotes`, `views`, `bookmarks`, `url`). x.md walks the timeline upstream in parallel instead of one cursor at a time, so a 2000-post history takes seconds rather than minutes. No Markdown representation: this route is JSON only. Metered separately from ordinary reads: 10 imports per 15 minutes per IP, 60 per API key (`import-ip` / `import-key` in `RateLimit-Policy`).",
        "tags": [
          "Profiles"
        ],
        "parameters": [
          {
            "name": "handle",
            "in": "path",
            "description": "X account handle without the leading `@`: 1-15 letters, digits or underscores. Reserved site paths (`/docs`, `/about`, `/search`, `/api`, ...) are never handles.",
            "required": true,
            "schema": {
              "type": "string",
              "pattern": "^[A-Za-z0-9_]{1,15}$"
            },
            "example": "jack"
          },
          {
            "name": "since",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "description": "ISO date (`2026-01-01`), ISO datetime, or unix timestamp in seconds or milliseconds."
            },
            "example": "2025-01-01",
            "description": "Oldest post to include. Omit to go as far back as upstream allows (X serves roughly the 3200 most recent timeline entries; `meta.floor_reached` says when that floor was hit)."
          },
          {
            "name": "until",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "description": "ISO date (`2026-01-01`), ISO datetime, or unix timestamp in seconds or milliseconds."
            },
            "description": "Newest post to include. Defaults to now. To continue past a truncated result, send its `meta.oldest` here."
          },
          {
            "name": "max_posts",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 5000,
              "default": 500
            },
            "description": "Most posts to return, newest first. Values above 5000 are clamped. `meta.truncated` is true when the range held more."
          },
          {
            "name": "with_replies",
            "in": "query",
            "description": "Include the account's replies. On by default.",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "true",
                "1",
                "false",
                "0"
              ],
              "default": "true"
            }
          },
          {
            "name": "with_reposts",
            "in": "query",
            "description": "Include the account's reposts. On by default. A repost is the original post with `reposted_by` set.",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "true",
                "1",
                "false",
                "0"
              ],
              "default": "true"
            }
          },
          {
            "name": "only_replies",
            "in": "query",
            "description": "Return only the account's replies.",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "true",
                "1",
                "false",
                "0"
              ],
              "default": "false"
            }
          },
          {
            "name": "concurrency",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 32,
              "default": 16
            },
            "description": "Upstream timeline chains walked at once, up to 32 per configured upstream (a deployment with a pool of N upstreams accepts N × 32). Higher is faster until the upstream throttles; lower it if imports answer 503 `upstream_rate_limited`."
          },
          {
            "name": "format",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "json",
                "ndjson"
              ],
              "default": "json"
            },
            "description": "`json` answers once with every post sorted newest first. `ndjson` streams one `{\"post\": …}` line per post as the parallel chains deliver them (unsorted), then a final `{\"meta\": …, \"profile\": …}` line, or `{\"error\": …}` if the walk failed."
          }
        ],
        "responses": {
          "200": {
            "description": "Every matching post in the range, newest first, with the profile and a `meta` block describing the walk.",
            "headers": {
              "RateLimit": {
                "$ref": "#/components/headers/RateLimit"
              },
              "RateLimit-Policy": {
                "$ref": "#/components/headers/RateLimitPolicy"
              },
              "RateLimit-Limit": {
                "$ref": "#/components/headers/RateLimitLimit"
              },
              "RateLimit-Remaining": {
                "$ref": "#/components/headers/RateLimitRemaining"
              },
              "RateLimit-Reset": {
                "$ref": "#/components/headers/RateLimitReset"
              },
              "Vary": {
                "$ref": "#/components/headers/Vary"
              },
              "Cache-Control": {
                "$ref": "#/components/headers/CacheControl"
              },
              "X-Source": {
                "$ref": "#/components/headers/XSource"
              },
              "X-Result-Count": {
                "$ref": "#/components/headers/XResultCount"
              },
              "X-Api-Key-Status": {
                "$ref": "#/components/headers/XApiKeyStatus"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ImportResponse"
                }
              },
              "application/x-ndjson": {
                "schema": {
                  "type": "string",
                  "description": "With `format=ndjson`: one JSON object per line. `{\"post\": Post}` lines as posts arrive, then one `{\"meta\": ImportMeta, \"profile\": Author}` line, or `{\"error\": Problem}` when the walk failed part-way."
                }
              }
            }
          },
          "400": {
            "description": "Invalid query option. Fix the parameter named in `detail`. Dates are ISO dates, ISO datetimes, or unix timestamps; `since` must be earlier than `until`; counts are positive integers within the documented maximum.",
            "headers": {
              "RateLimit": {
                "$ref": "#/components/headers/RateLimit"
              },
              "RateLimit-Policy": {
                "$ref": "#/components/headers/RateLimitPolicy"
              },
              "RateLimit-Limit": {
                "$ref": "#/components/headers/RateLimitLimit"
              },
              "RateLimit-Remaining": {
                "$ref": "#/components/headers/RateLimitRemaining"
              },
              "RateLimit-Reset": {
                "$ref": "#/components/headers/RateLimitReset"
              },
              "Cache-Control": {
                "$ref": "#/components/headers/CacheControl"
              },
              "Link": {
                "$ref": "#/components/headers/ProblemLink"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Problem"
                },
                "examples": {
                  "invalid_option": {
                    "$ref": "#/components/examples/invalid_option"
                  }
                }
              },
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/Problem"
                },
                "examples": {
                  "invalid_option": {
                    "$ref": "#/components/examples/invalid_option"
                  }
                }
              }
            }
          },
          "401": {
            "description": "Invalid or disabled API key. Remove the Authorization header to call anonymously, or present a valid `Authorization: Bearer <key>`.",
            "headers": {
              "RateLimit": {
                "$ref": "#/components/headers/RateLimit"
              },
              "RateLimit-Policy": {
                "$ref": "#/components/headers/RateLimitPolicy"
              },
              "RateLimit-Limit": {
                "$ref": "#/components/headers/RateLimitLimit"
              },
              "RateLimit-Remaining": {
                "$ref": "#/components/headers/RateLimitRemaining"
              },
              "RateLimit-Reset": {
                "$ref": "#/components/headers/RateLimitReset"
              },
              "Cache-Control": {
                "$ref": "#/components/headers/CacheControl"
              },
              "Link": {
                "$ref": "#/components/headers/ProblemLink"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Problem"
                },
                "examples": {
                  "invalid_key": {
                    "$ref": "#/components/examples/invalid_key"
                  }
                }
              },
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/Problem"
                },
                "examples": {
                  "invalid_key": {
                    "$ref": "#/components/examples/invalid_key"
                  }
                }
              }
            }
          },
          "404": {
            "description": "Not found. Confirm the post or profile is public and still exists on x.com, then retry. Deleted and protected content is never available.",
            "headers": {
              "RateLimit": {
                "$ref": "#/components/headers/RateLimit"
              },
              "RateLimit-Policy": {
                "$ref": "#/components/headers/RateLimitPolicy"
              },
              "RateLimit-Limit": {
                "$ref": "#/components/headers/RateLimitLimit"
              },
              "RateLimit-Remaining": {
                "$ref": "#/components/headers/RateLimitRemaining"
              },
              "RateLimit-Reset": {
                "$ref": "#/components/headers/RateLimitReset"
              },
              "Cache-Control": {
                "$ref": "#/components/headers/CacheControl"
              },
              "Link": {
                "$ref": "#/components/headers/ProblemLink"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Problem"
                },
                "examples": {
                  "not_found": {
                    "$ref": "#/components/examples/not_found"
                  }
                }
              },
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/Problem"
                },
                "examples": {
                  "not_found": {
                    "$ref": "#/components/examples/not_found"
                  }
                }
              }
            }
          },
          "405": {
            "description": "Method not allowed. x.md is read-only. Use GET, HEAD, or OPTIONS; the `Allow` response header lists what this route accepts.",
            "headers": {
              "RateLimit": {
                "$ref": "#/components/headers/RateLimit"
              },
              "RateLimit-Policy": {
                "$ref": "#/components/headers/RateLimitPolicy"
              },
              "RateLimit-Limit": {
                "$ref": "#/components/headers/RateLimitLimit"
              },
              "RateLimit-Remaining": {
                "$ref": "#/components/headers/RateLimitRemaining"
              },
              "RateLimit-Reset": {
                "$ref": "#/components/headers/RateLimitReset"
              },
              "Cache-Control": {
                "$ref": "#/components/headers/CacheControl"
              },
              "Link": {
                "$ref": "#/components/headers/ProblemLink"
              },
              "Allow": {
                "$ref": "#/components/headers/Allow"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Problem"
                },
                "examples": {
                  "method_not_allowed": {
                    "$ref": "#/components/examples/method_not_allowed"
                  }
                }
              },
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/Problem"
                },
                "examples": {
                  "method_not_allowed": {
                    "$ref": "#/components/examples/method_not_allowed"
                  }
                }
              }
            }
          },
          "429": {
            "description": "Rate limit exceeded. Wait the number of seconds in the `Retry-After` header, then retry. Cached responses do not count against the allowance.",
            "headers": {
              "RateLimit": {
                "$ref": "#/components/headers/RateLimit"
              },
              "RateLimit-Policy": {
                "$ref": "#/components/headers/RateLimitPolicy"
              },
              "RateLimit-Limit": {
                "$ref": "#/components/headers/RateLimitLimit"
              },
              "RateLimit-Remaining": {
                "$ref": "#/components/headers/RateLimitRemaining"
              },
              "RateLimit-Reset": {
                "$ref": "#/components/headers/RateLimitReset"
              },
              "Cache-Control": {
                "$ref": "#/components/headers/CacheControl"
              },
              "Link": {
                "$ref": "#/components/headers/ProblemLink"
              },
              "Retry-After": {
                "$ref": "#/components/headers/RetryAfter"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Problem"
                },
                "examples": {
                  "rate_limited": {
                    "$ref": "#/components/examples/rate_limited"
                  }
                }
              },
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/Problem"
                },
                "examples": {
                  "rate_limited": {
                    "$ref": "#/components/examples/rate_limited"
                  }
                }
              }
            }
          },
          "500": {
            "description": "Unexpected error. Retry with exponential backoff. If it persists, open an issue at https://github.com/pc-style/x-md/issues.",
            "headers": {
              "RateLimit": {
                "$ref": "#/components/headers/RateLimit"
              },
              "RateLimit-Policy": {
                "$ref": "#/components/headers/RateLimitPolicy"
              },
              "RateLimit-Limit": {
                "$ref": "#/components/headers/RateLimitLimit"
              },
              "RateLimit-Remaining": {
                "$ref": "#/components/headers/RateLimitRemaining"
              },
              "RateLimit-Reset": {
                "$ref": "#/components/headers/RateLimitReset"
              },
              "Cache-Control": {
                "$ref": "#/components/headers/CacheControl"
              },
              "Link": {
                "$ref": "#/components/headers/ProblemLink"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Problem"
                },
                "examples": {
                  "internal_error": {
                    "$ref": "#/components/examples/internal_error"
                  }
                }
              },
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/Problem"
                },
                "examples": {
                  "internal_error": {
                    "$ref": "#/components/examples/internal_error"
                  }
                }
              }
            }
          },
          "502": {
            "description": "Upstream provider error. Retry with backoff. x.md reads a third-party provider that can fail independently.",
            "headers": {
              "RateLimit": {
                "$ref": "#/components/headers/RateLimit"
              },
              "RateLimit-Policy": {
                "$ref": "#/components/headers/RateLimitPolicy"
              },
              "RateLimit-Limit": {
                "$ref": "#/components/headers/RateLimitLimit"
              },
              "RateLimit-Remaining": {
                "$ref": "#/components/headers/RateLimitRemaining"
              },
              "RateLimit-Reset": {
                "$ref": "#/components/headers/RateLimitReset"
              },
              "Cache-Control": {
                "$ref": "#/components/headers/CacheControl"
              },
              "Link": {
                "$ref": "#/components/headers/ProblemLink"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Problem"
                },
                "examples": {
                  "upstream_error": {
                    "$ref": "#/components/examples/upstream_error"
                  }
                }
              },
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/Problem"
                },
                "examples": {
                  "upstream_error": {
                    "$ref": "#/components/examples/upstream_error"
                  }
                }
              }
            }
          },
          "503": {
            "description": "Upstream provider is rate limiting x.md. Wait the number of seconds in `Retry-After`, then retry. Bulk imports back off per page automatically; lower `concurrency` if this repeats.",
            "headers": {
              "RateLimit": {
                "$ref": "#/components/headers/RateLimit"
              },
              "RateLimit-Policy": {
                "$ref": "#/components/headers/RateLimitPolicy"
              },
              "RateLimit-Limit": {
                "$ref": "#/components/headers/RateLimitLimit"
              },
              "RateLimit-Remaining": {
                "$ref": "#/components/headers/RateLimitRemaining"
              },
              "RateLimit-Reset": {
                "$ref": "#/components/headers/RateLimitReset"
              },
              "Cache-Control": {
                "$ref": "#/components/headers/CacheControl"
              },
              "Link": {
                "$ref": "#/components/headers/ProblemLink"
              },
              "Retry-After": {
                "$ref": "#/components/headers/RetryAfter"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Problem"
                },
                "examples": {
                  "upstream_rate_limited": {
                    "$ref": "#/components/examples/upstream_rate_limited"
                  }
                }
              },
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/Problem"
                },
                "examples": {
                  "upstream_rate_limited": {
                    "$ref": "#/components/examples/upstream_rate_limited"
                  }
                }
              }
            }
          }
        },
        "externalDocs": {
          "description": "Endpoint documentation",
          "url": "https://x.pcstyle.dev/docs/profiles"
        },
        "security": [
          {},
          {
            "bearerApiKey": []
          }
        ]
      }
    },
    "/api/v1/profiles/{handle}/followers": {
      "get": {
        "operationId": "listFollowers",
        "summary": "List the accounts that follow a profile",
        "description": "Page through the accounts that follow a public X account.\n\nResults are paged: prefer the opaque `nextCursor` from the previous response over the ordinal `page`. Send `Accept: application/json` (or `format=json`) for the structured body, `Accept: text/markdown` for Markdown. Markdown is the default when neither is given.",
        "tags": [
          "Profiles"
        ],
        "parameters": [
          {
            "name": "handle",
            "in": "path",
            "description": "X account handle without the leading `@`: 1-15 letters, digits or underscores. Reserved site paths (`/docs`, `/about`, `/search`, `/api`, ...) are never handles.",
            "required": true,
            "schema": {
              "type": "string",
              "pattern": "^[A-Za-z0-9_]{1,15}$"
            },
            "example": "jack"
          },
          {
            "name": "cursor",
            "in": "query",
            "description": "Opaque `nextCursor` from a previous response, and the preferred way to page: there is no limit on how far a cursor chain goes. Send it back with the same query, feed and options. Never decode a cursor, edit it, or reuse it across feeds. A cursor takes precedence over `page`.",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "page",
            "in": "query",
            "description": "Ordinal page, used only when no `cursor` is supplied. Values above 10 are clamped. Numbered paging walks every preceding upstream page, so it is slower than a cursor.",
            "required": false,
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 10,
              "default": 1
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Maximum results in the page. Values above 100 are clamped to 100. A page is assembled from as many upstream pages as it takes and cut exactly at `limit`; when the cut falls inside an upstream page the `nextCursor` carries an offset (`…@15`), so nothing is lost or repeated. Searches served by own accounts (`photos`, `videos`, `users`, or a fallback) answer at most 20 per request and report that in `limit`.",
            "required": false,
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 100,
              "default": 20
            }
          },
          {
            "name": "format",
            "in": "query",
            "description": "Output representation. Overrides `Accept` negotiation. Browse routes do not support `obsidian`.",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "markdown",
                "json"
              ],
              "default": "markdown"
            }
          },
          {
            "name": "full",
            "in": "query",
            "description": "Return the expanded representation: metrics, timestamps and profile counts instead of the compact default.",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "true",
                "1",
                "false",
                "0"
              ],
              "default": "false"
            }
          },
          {
            "name": "nocache",
            "in": "query",
            "description": "Bypass the application cache and fetch from the upstream provider. Charged against the live-lookup quota.",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "true",
                "1",
                "false",
                "0"
              ],
              "default": "false"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The profile and its most recent original posts, or a page of connections.",
            "headers": {
              "RateLimit": {
                "$ref": "#/components/headers/RateLimit"
              },
              "RateLimit-Policy": {
                "$ref": "#/components/headers/RateLimitPolicy"
              },
              "RateLimit-Limit": {
                "$ref": "#/components/headers/RateLimitLimit"
              },
              "RateLimit-Remaining": {
                "$ref": "#/components/headers/RateLimitRemaining"
              },
              "RateLimit-Reset": {
                "$ref": "#/components/headers/RateLimitReset"
              },
              "Vary": {
                "$ref": "#/components/headers/Vary"
              },
              "Cache-Control": {
                "$ref": "#/components/headers/CacheControl"
              },
              "X-Source": {
                "$ref": "#/components/headers/XSource"
              },
              "X-Cache": {
                "$ref": "#/components/headers/XCache"
              },
              "X-Browse-Resource": {
                "$ref": "#/components/headers/XBrowseResource"
              },
              "X-Result-Count": {
                "$ref": "#/components/headers/XResultCount"
              },
              "X-Api-Key-Status": {
                "$ref": "#/components/headers/XApiKeyStatus"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BrowseResponse"
                },
                "examples": {
                  "profile": {
                    "$ref": "#/components/examples/profileResponse"
                  }
                }
              },
              "text/markdown": {
                "schema": {
                  "type": "string",
                  "description": "Rendered Markdown list. The default representation. Ends with a `Continue →` link whenever `nextCursor` is set."
                }
              }
            }
          },
          "400": {
            "description": "Invalid X handle. Handles are 1-15 characters of letters, digits, or underscores, with no leading @.",
            "headers": {
              "RateLimit": {
                "$ref": "#/components/headers/RateLimit"
              },
              "RateLimit-Policy": {
                "$ref": "#/components/headers/RateLimitPolicy"
              },
              "RateLimit-Limit": {
                "$ref": "#/components/headers/RateLimitLimit"
              },
              "RateLimit-Remaining": {
                "$ref": "#/components/headers/RateLimitRemaining"
              },
              "RateLimit-Reset": {
                "$ref": "#/components/headers/RateLimitReset"
              },
              "Cache-Control": {
                "$ref": "#/components/headers/CacheControl"
              },
              "Link": {
                "$ref": "#/components/headers/ProblemLink"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Problem"
                },
                "examples": {
                  "invalid_handle": {
                    "$ref": "#/components/examples/invalid_handle"
                  }
                }
              },
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/Problem"
                },
                "examples": {
                  "invalid_handle": {
                    "$ref": "#/components/examples/invalid_handle"
                  }
                }
              }
            }
          },
          "401": {
            "description": "Invalid or disabled API key. Remove the Authorization header to call anonymously, or present a valid `Authorization: Bearer <key>`.",
            "headers": {
              "RateLimit": {
                "$ref": "#/components/headers/RateLimit"
              },
              "RateLimit-Policy": {
                "$ref": "#/components/headers/RateLimitPolicy"
              },
              "RateLimit-Limit": {
                "$ref": "#/components/headers/RateLimitLimit"
              },
              "RateLimit-Remaining": {
                "$ref": "#/components/headers/RateLimitRemaining"
              },
              "RateLimit-Reset": {
                "$ref": "#/components/headers/RateLimitReset"
              },
              "Cache-Control": {
                "$ref": "#/components/headers/CacheControl"
              },
              "Link": {
                "$ref": "#/components/headers/ProblemLink"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Problem"
                },
                "examples": {
                  "invalid_key": {
                    "$ref": "#/components/examples/invalid_key"
                  }
                }
              },
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/Problem"
                },
                "examples": {
                  "invalid_key": {
                    "$ref": "#/components/examples/invalid_key"
                  }
                }
              }
            }
          },
          "404": {
            "description": "Not found. Confirm the post or profile is public and still exists on x.com, then retry. Deleted and protected content is never available.",
            "headers": {
              "RateLimit": {
                "$ref": "#/components/headers/RateLimit"
              },
              "RateLimit-Policy": {
                "$ref": "#/components/headers/RateLimitPolicy"
              },
              "RateLimit-Limit": {
                "$ref": "#/components/headers/RateLimitLimit"
              },
              "RateLimit-Remaining": {
                "$ref": "#/components/headers/RateLimitRemaining"
              },
              "RateLimit-Reset": {
                "$ref": "#/components/headers/RateLimitReset"
              },
              "Cache-Control": {
                "$ref": "#/components/headers/CacheControl"
              },
              "Link": {
                "$ref": "#/components/headers/ProblemLink"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Problem"
                },
                "examples": {
                  "not_found": {
                    "$ref": "#/components/examples/not_found"
                  }
                }
              },
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/Problem"
                },
                "examples": {
                  "not_found": {
                    "$ref": "#/components/examples/not_found"
                  }
                }
              },
              "text/markdown": {
                "schema": {
                  "type": "string",
                  "description": "The same recovery document as Markdown: what is missing, where to look next, and the valid URL shapes."
                }
              },
              "text/html": {
                "schema": {
                  "type": "string",
                  "description": "The Markdown recovery document wrapped in a minimal HTML page."
                }
              }
            }
          },
          "405": {
            "description": "Method not allowed. x.md is read-only. Use GET, HEAD, or OPTIONS; the `Allow` response header lists what this route accepts.",
            "headers": {
              "RateLimit": {
                "$ref": "#/components/headers/RateLimit"
              },
              "RateLimit-Policy": {
                "$ref": "#/components/headers/RateLimitPolicy"
              },
              "RateLimit-Limit": {
                "$ref": "#/components/headers/RateLimitLimit"
              },
              "RateLimit-Remaining": {
                "$ref": "#/components/headers/RateLimitRemaining"
              },
              "RateLimit-Reset": {
                "$ref": "#/components/headers/RateLimitReset"
              },
              "Cache-Control": {
                "$ref": "#/components/headers/CacheControl"
              },
              "Link": {
                "$ref": "#/components/headers/ProblemLink"
              },
              "Allow": {
                "$ref": "#/components/headers/Allow"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Problem"
                },
                "examples": {
                  "method_not_allowed": {
                    "$ref": "#/components/examples/method_not_allowed"
                  }
                }
              },
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/Problem"
                },
                "examples": {
                  "method_not_allowed": {
                    "$ref": "#/components/examples/method_not_allowed"
                  }
                }
              }
            }
          },
          "429": {
            "description": "Rate limit exceeded. Wait the number of seconds in the `Retry-After` header, then retry. Cached responses do not count against the allowance.",
            "headers": {
              "RateLimit": {
                "$ref": "#/components/headers/RateLimit"
              },
              "RateLimit-Policy": {
                "$ref": "#/components/headers/RateLimitPolicy"
              },
              "RateLimit-Limit": {
                "$ref": "#/components/headers/RateLimitLimit"
              },
              "RateLimit-Remaining": {
                "$ref": "#/components/headers/RateLimitRemaining"
              },
              "RateLimit-Reset": {
                "$ref": "#/components/headers/RateLimitReset"
              },
              "Cache-Control": {
                "$ref": "#/components/headers/CacheControl"
              },
              "Link": {
                "$ref": "#/components/headers/ProblemLink"
              },
              "Retry-After": {
                "$ref": "#/components/headers/RetryAfter"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Problem"
                },
                "examples": {
                  "rate_limited": {
                    "$ref": "#/components/examples/rate_limited"
                  }
                }
              },
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/Problem"
                },
                "examples": {
                  "rate_limited": {
                    "$ref": "#/components/examples/rate_limited"
                  }
                }
              }
            }
          },
          "500": {
            "description": "Unexpected error. Retry with exponential backoff. If it persists, open an issue at https://github.com/pc-style/x-md/issues.",
            "headers": {
              "RateLimit": {
                "$ref": "#/components/headers/RateLimit"
              },
              "RateLimit-Policy": {
                "$ref": "#/components/headers/RateLimitPolicy"
              },
              "RateLimit-Limit": {
                "$ref": "#/components/headers/RateLimitLimit"
              },
              "RateLimit-Remaining": {
                "$ref": "#/components/headers/RateLimitRemaining"
              },
              "RateLimit-Reset": {
                "$ref": "#/components/headers/RateLimitReset"
              },
              "Cache-Control": {
                "$ref": "#/components/headers/CacheControl"
              },
              "Link": {
                "$ref": "#/components/headers/ProblemLink"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Problem"
                },
                "examples": {
                  "internal_error": {
                    "$ref": "#/components/examples/internal_error"
                  }
                }
              },
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/Problem"
                },
                "examples": {
                  "internal_error": {
                    "$ref": "#/components/examples/internal_error"
                  }
                }
              }
            }
          },
          "502": {
            "description": "Upstream provider error. Retry with backoff. x.md reads a third-party provider that can fail independently.",
            "headers": {
              "RateLimit": {
                "$ref": "#/components/headers/RateLimit"
              },
              "RateLimit-Policy": {
                "$ref": "#/components/headers/RateLimitPolicy"
              },
              "RateLimit-Limit": {
                "$ref": "#/components/headers/RateLimitLimit"
              },
              "RateLimit-Remaining": {
                "$ref": "#/components/headers/RateLimitRemaining"
              },
              "RateLimit-Reset": {
                "$ref": "#/components/headers/RateLimitReset"
              },
              "Cache-Control": {
                "$ref": "#/components/headers/CacheControl"
              },
              "Link": {
                "$ref": "#/components/headers/ProblemLink"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Problem"
                },
                "examples": {
                  "upstream_error": {
                    "$ref": "#/components/examples/upstream_error"
                  }
                }
              },
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/Problem"
                },
                "examples": {
                  "upstream_error": {
                    "$ref": "#/components/examples/upstream_error"
                  }
                }
              }
            }
          }
        },
        "externalDocs": {
          "description": "Endpoint documentation",
          "url": "https://x.pcstyle.dev/docs/profiles"
        },
        "security": [
          {},
          {
            "bearerApiKey": []
          }
        ]
      }
    },
    "/api/v1/profiles/{handle}/following": {
      "get": {
        "operationId": "listFollowing",
        "summary": "List the accounts a profile follows",
        "description": "Page through the accounts a public X account follows.\n\nResults are paged: prefer the opaque `nextCursor` from the previous response over the ordinal `page`. Send `Accept: application/json` (or `format=json`) for the structured body, `Accept: text/markdown` for Markdown. Markdown is the default when neither is given.",
        "tags": [
          "Profiles"
        ],
        "parameters": [
          {
            "name": "handle",
            "in": "path",
            "description": "X account handle without the leading `@`: 1-15 letters, digits or underscores. Reserved site paths (`/docs`, `/about`, `/search`, `/api`, ...) are never handles.",
            "required": true,
            "schema": {
              "type": "string",
              "pattern": "^[A-Za-z0-9_]{1,15}$"
            },
            "example": "jack"
          },
          {
            "name": "cursor",
            "in": "query",
[...]
